/* DISCOVER PAGE CSS */

/* NAVIGATION */

body {
  margin-top: 100px;
}

/* SCROLL MENU  */

div.scrollmenu {
  background-color: #f8f9fa;
  overflow: auto;
  white-space: nowrap;
  height: 300px;
}

div.scrollmenu a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* SUBHEADING */

.subheading {
  font-size: 30px;
  color: #900c3f;
  padding-bottom: 20px;
  border-style: none;
}

h2.subheading:hover, h2, h2:hover {
  border-style: none;
}

/* SEARCH MODAL */

input {
  color: #6c757d;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  color: #6c757d;
}

/* Button */

.btn-primary {
  background-color: #FF5733;
  border-style: none;
}

.btn-primary:visited {
  background-color: #900c3f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #900c3f;
  border-color: #dc3545;
}

.badge-primary[href]:hover, .badge-primary[href]:focus, a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #900c3f;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #900c3f;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  background-color: #900c3f;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #900c3f;
  /* border-color: #b21f2d; */
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-primary:active, .btn-primary.active {
  background-color: #900c3f;
}


/* Event description */
.event-description {
  text-align: left;
  padding-top: 6px;
}
