/* BASE CSS */

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

section {
  padding-top: 160px;
}

/* NAVIGATION  */

.bg-dark {
  background-color: #f8f9fa !important;
}

.navbar-light {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.sticky {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  padding: 1.5rem 1rem;
}

.navbar .navbar-brand {
  font-size: 40px;
  color: #FF5733;
  /* orange */
}

.navbar .navbar-brand:hover {
  color: #900c3f;
  /* purple */
}

.nav-item {
  padding-right: 5px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
  list-style: none;
  padding-right: 60px;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 100;
}


/* DROPDOWN BUTTON AND MENU */

div.dropdown-menu.show a:active {
  background-color: #fff;
  color: #FF5733;
}

.navbar-dropbutton {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0rem;
  height: 40px;
  width: 40px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-dropbutton:hover, .navbar-dropbutton:focus {
  text-decoration: none;
}

.btn-group {
  padding-right: 50px;
}

.dropdown-menu {
  color: rgba(0, 0, 0, 0.9);
}

.dropdown-item {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
}

.dropdown-item:hover {
  color: #333;
}

.badge-danger[href]:hover, .badge-danger[href]:focus, a.bg-danger:hover, a.bg-danger:focus, button.bg-danger:hover, button.bg-danger:focus {
  background-color: #900c3f;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #900c3f;
  border-color: #b21f2d;
}

.btn-danger {
  color: #fff;
  background-color: #FF5733;
  border-style: none;
  /* border-color: #dc3545; */
}

.btn-danger:hover {
  color: #fff;
  background-color: #900c3f;
  border-color: #dc3545;
}

/* FOOTER */

footer {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

h6>a {
  color: #fff;
}

h6>a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.horizontal-line {
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-socials {
  padding-bottom: 2em;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 0 1em 0;
  font-size: 12px;
}
